<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    </meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </meta>
    <title>Document</title>
</head>

<body style="width: 21cm;height: 29.7cm;margin: 0 auto; padding: 50px;background-color: #ffffff;border: 1px solid black;">
    <p>To Whom It May Concern:</p>
    <p>This letter is to confirm that <b>${firstName}, ${lastName} </b>who lives at
        <b>${street}, ${landMark}, ${state} ${pincode}</b>has been insured with
        <b>${companyName}</b> under policy number <b>${policyNo}</b>from
        <b>${policyStartDate}</b> TO <b>${policyEndDate}</b>with no lapse in coverage
        as today’s date of <b>${policyDueDate}</b>
    </p>
    <p>The limits of coverage offered are:</p>

    <table cellpadding="5">
        <tr>
            <td>Bodily Injury:</td>
            <td><b>${bodyInjuryPerPerson}</b>per person /
                <b>${bodyInjuryPerAccident}</b> per accident
            </td>
        </tr>
        <tr>
            <td>Property Damage: </td>
            <td><b>${propertyDamagePerAccident}</b> per accident</td>
        </tr>
        <tr>
            <td>Personal Injury: </td>
            <td><b>${personalInjuryPerAccident}</b> per accident,
                <b>${personalInjuryPerDeduct}</b> Deduct, <b>&lt;&lt;NIO&gt;&gt;</b>
                <b>&lt;&lt;NIRR&gt;&gt;</b> <b>&lt;&lt;WLE&gt;&gt;</b>
            </td>
        </tr>
        <tr>
            <td>Med Pay: </td>
            <td><b>${medPay}</b>per accident</td>
        </tr>
        <tr>
            <td>Uninsured Motorist:</td>
            <td><b>${unInsuredMotorist}</b></td>
        </tr>
        <tr>
            <td>Comprehensive Deduct:</td>
            <td>ACV <b>${comprehensiveDeduct}</b>Deduct</td>
        </tr>
        <tr>
            <td>Collision Deduct: </td>
            <td>ACV <b>${collisionDeduct}</b>Deduct</td>
        </tr>
        <tr>
            <td>Loss of Use: </td>
            <td> <b>${lossOfUse}</b></td>
        </tr>
        <tr>
            <td>Custom / Add’l Equip:</td>
            <td><b>${customEquip}</b></td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top: 35px;">If there are any questions or corrections to be made, please
                contact us at
                <b>${phoneNumber}</b>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 16px;">Respectfully Yours,</td>
            <td></td>
        </tr>
        <tr>
            <td>AGIC INSURANCE INC.</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 205px;">FLORIDA COMPANY CODE:</td>
            <td> 03775</td>
        </tr>


    </table>
    <!-- <table style="width:100%;border: 1px solid black;">
        <tr>
          <th>Id</th>
          <th>name</th>
          <th>Age</th>
        </tr>
        #if(${persons})

        #foreach(${person} in ${persons})

        <tr>
            <td>${person.id}</td>
            <td>${person.name}</td>
            <td>${person.age}</td>
        </tr>

    #end
    #end
  </table> -->



</body>

</html>